
a {  
    color: #4A90E2; 
    text-decoration: none;   
    font-weight: bold; 
    font-style: italic;  
    text-transform: uppercase;
}  


a:visited {  
    color: #8E44AD;
}  


a:hover {  
    text-decoration: underline; 
    color: #D35400; 
    background-color: #F9E79F;  
}