body {  
    font-family: Arial, sans-serif;  
    background-color: #f4f4f4;  
    margin: 0;  
    padding: 0;  
}  

.navbar {  
    background-color: #008cba;  
    overflow: hidden;  
}  

.navbar a {  
    float: left;  
    display: block;  
    color: white;  
    text-align: center;  
    padding: 14px 16px;  
    text-decoration: none;  
}  

.dropdown {  
    float: left;  
    overflow: hidden;  
}  

.dropdown .dropbtn {  
    cursor: pointer;  
    font-size: 16px;  
    border: none;  
    outline: none;  
    color: white;  
    padding: 14px 16px;  
    background-color: inherit;  
}  

.navbar a:hover, .dropdown:hover .dropbtn {  
    background-color: #007bb5;  
}  

.dropdown-content {  
    display: none;  
    position: absolute;  
    background-color: #f9f9f9;  
    min-width: 160px;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
    z-index: 1;  
}  

.dropdown-content a {  
    float: none;  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    text-align: left;  
}  

.dropdown-content a:hover {  
    background-color: #ddd;  
}  

.dropdown:hover .dropdown-content {  
    display: block;  
}